
.cards {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 70px;
    justify-content:  space-around;
}
.card:hover {
    box-shadow: 2px 3px 8px 6px #0D54BB;
    transform: scale(1.1);
}

/*-----------------------------------------------------------------------------------------*/


/*Customer Style*/

.col-auto{
    position: relative;
    top: 5px;
    /*margin-top: 2px;*/

}

.navbar{
    border-bottom: 1.5px solid black;
}

.form-control{
    height: 30px;
    border-radius: 18px;
    font-family: "Baskerville Old Face";
    font-size: 13px;
    justify-self: center;
    background: #eeeeee;
    width: 303px;
}


.col-autoLbl{
    padding-top: 1px;
    width: 100px;
    font-size: 13px;
}

button{
    width: 100px;
    height: 30px;
    font-size: 13px;
    font-family: "Bodoni MT";
}

.buttons{
    padding-top: 30px;
    padding-left: 0;
}

.btn{
    width: 80px;
    /*font-weight: bold;*/
    text-align: center;
}

/*===========================================*/

.col-5{
    background: #0a53be;
    border-radius: 20px;
    height: 350px;
    padding-left: 10px;
}

.col-7{
    border-radius: 20px;
    height: 350px;
}

.container{
    padding-top: 20px;
}

.row{
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 20px;
    height: 300px;

}

.searchBtn{
    border-radius: 30px;
    width: 50px;
}


.qty{
    padding-top: 10px;
    width:40px;
    height: 30px;
}
.buy{
    padding-left: 350px;
}

.col-2{
    padding-top: 30px;
}

#btnaddtoCart{
    margin-left: 202px;
    background-color: #ffc720;
    width: 131px;
    border-radius: 72px;
    margin-top: -30px;
    position: absolute;
}
