
* {
    font-family: 'Stick No Bills', sans-serif;
    margin: 0;
}

.body {
    width: 100%;
}

.upperLogo {
    top: 5px;
    left: 5px;
    position: relative;
}

header {
    background: #151515;
    /*position: relative;*/
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;

    /*box-shadow: 2px 1px 1px #ac290a;*/
    /* border: 1px solid black; */
    z-index: 9990;

}

header menu li {
    font-size: 20px;
    margin-left: 40px;

}

/*----------------manu href-------------*/
header menu li a {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}

.hoverText {
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    color: white;
}

/* hover state */
.hoverText:hover {
    font-weight: bold;
    color: deepskyblue;
    transform: scale(1.1);
}

/* Underline Text */
.menu-btn {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

/*----------------animation-------------*/
.menu-btn::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #000000;
    transition: width 0.3s ease-in-out;
}

.menu-btn:hover::after {
    width: 100%;
}


/* Navigation buttons */
header > div {
    margin: 10px;
    display: inline-block;
    /*position: absolute;*/
    position: fixed;
    right: 14px;
    top: 10px;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/* -----------------------Home------------------------------- */


#home{
    width: 100%;
    height: 100vh;
    position: absolute;
}
/* logo */
#Mylogo>img {
    position: absolute;
    top: 73px;
    left: 350px;
    height: 145px;
    width: 170px;
}

#hireme{
    position: absolute;
    top: 580px;
    left: 1050px;
    color: white;
    background: linear-gradient(to right, black, #A93226);

    background-clip: initial;
    animation: ease 5s infinite;
}

main > section > div#mainImage1 {
    background-image: url("../image/MainImg.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;


}

/* div background color */
main > section > div#Background {

    color: black;
    background-color: black;
    position: absolute;
    width: 820px;
    height: 630px;
    border-radius: 10%;
    top: 20px;
    left: 30px;
    opacity: 69%;

}

/* home */
main > section#home {
    height: 110%;
    width: 100%;
    /*top: 90px;*/
    position: absolute;
    /*padding: 4rem;*/
    background-color:#151515 ;
    /* border: 2px solid rgb(0, 0, 0); */
}

/* Main background image */
main > section#mainImage {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* my portfolio .... */
main > section > h3 {
    font-family: IM FELL Great Primer SC;
    position: absolute;
    font-size: 33px;
    filter: drop-shadow(2px 1px 2px black);
    top: 250px;
    text-decoration: underline;
    color: #ffffff;
    left: 187px;

}

/* Gayeshma ...*/
main > section > h1 {

    font-family: Iceland;
    /*-webkit-text-stroke: 1px white;*/
    position: absolute;
    top: 270px;
    font-size: 80pt;
    left: 157px;
    /*color: #ffffff;*/
    margin-bottom: 0;
    margin-top: 10px;
    filter: drop-shadow(2px 5px 5px deepskyblue);
}

/* A designer.. */
main > section > div > h5 {
    position: absolute;
    left: 430px;
    top: 502px;
    color: #ffffff;
    font-size: 18px;
    filter: drop-shadow(2px 1px 2px black);
}


/* Hello there.. */
main > section > p {
    position: absolute;
    font-family: Inter;
    left: 75px;
    top: 531px;
    right: 550px;
    text-align: center;
    color: #ffffff;
    font-size: 19px;
    filter: drop-shadow(4px 2px 3px black);
}


/* -------------------------Project-------------------------------- */
/* project */
main > section#project {
    height: 110%;
    width: 100%;
    top: 647px;
    position: absolute;
    background-color:#151515 ;
    /* border: 2px solid black; */
}

/* navigation tag line */
main > section > h2#projectHead {
    position: absolute;
    margin-top: 75px;
    background: linear-gradient(to right, #0D54BB, rgba(255, 255, 255, 0));
    height: 30px;
    width: 100%;

}

main > section > section#roomres {
    position: absolute;
    top: 200px;
    margin: auto;
    display: grid;
    left: 60px;
    right: 940px;
}

main > section > section#chickago {
    position: absolute;
    top: 200px;
    margin: auto;
    display: grid;
    left: 470px;
    right: 840px;
}

main > section > section#connect {
    position: absolute;
    top: 200px;
    margin: auto;
    display: grid;
    left: 895px;
    right: 840px;
}

h4#assi0 {
    text-align: center;
    height: 45px;
    background-color: deepskyblue;
    border-radius: 30px;
    margin-top: 15PX;
    color: white;
}

h4#assi1:hover {
    padding-left: 80px;
    transform: scale(1.4);
    color: #ff253a;
}

h4#assi2:hover {
    padding-left: 90px;
    transform: scale(1.4);
    color: #ff253a;
}

 h4#assi3:hover {
     padding-left: 30px;
     transform: scale(1.1);
     color: #ff253a;
 }

main > section > section > p {
    text-align: center;
    color: white;
}

/* see all button */
main > section > button#projectbtn {
    width: 80px;
    height: 40px;
    position: absolute;
    bottom: 120px;
    right: 30px;
    background-color: white;
    border-radius: 8px;
    border-color: aqua;
}


/* --------------------------Gallery----------------------------- */
/* gallery */
main > section#gallery {
    height: 110%;
    width: 100%;
    margin-top: 1301px;
    position: absolute;
    background-color:#151515 ;
    /* border: 2px solid black; */
}


/* navigation tag line */
main > section > h2#galleryHead {
    position: absolute;
   margin-top: 75px;
    background: linear-gradient(to right, #0D54BB, rgba(255, 255, 255, 0));
    height: 30px;
    width: 100%;
}

/* images */
main > section#gallery > div {
    margin-top:  80px;
    position: absolute;
    display: inline-table;

}


main > section > button#gallerybtn {
    width: 80px;
    height: 40px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: white;
    border-radius: 8px;
    border-color: aqua;
}

/* ===============Gallery Images============================================== */
main > section#gallery > section#photos {
    position: relative;
    top: 150px;
    left: 10px;
    width: 90%;
    height: 480px;
    border: 2px solid black;
    display: grid;
    margin: auto;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 7px;
}

section#photos > div:hover {
    transform: scale(1.08);
    filter: none;
}


section#photos > div {
    background-size: cover;
    background-position: center;
    box-shadow: 1px 2px 1px 1px black;
}

section#photos > div:nth-child(1) {
    background-image: url("../image/Gallery%202.png");
    filter: grayscale(1);
}

section#photos > div:nth-child(2) {
    background-image: url("../image/temple.JPG");
}

section#photos > div:nth-child(3) {
    background-image: url("../image/Manejaiya.JPG");
}

section#photos > div:nth-child(4) {
    background-image: url("../image/sandun%20wed.jpg");
}

section#photos > div:nth-child(5) {
    background-image: url("../image/adams.JPG");
}

section#photos > div:nth-child(6) {
    background-image: url("../image/getphoto.jpg");
}

section#photos > div:nth-child(7) {
    background-image: url("../image/Dulan%20aiya.JPG");
}

section#photos > div:nth-child(8) {
    background-image: url("../image/streetfood.JPG");
}

section#photos > div:nth-child(9) {
    background-image: url("../image/aiyawed.jpg");
}

section#photos > div:nth-child(10) {
    background-image: url("../image/sharaf.jpg");
}

section#photos > div:nth-child(11) {
    background-image: url("../image/wasanthaArunalu.jpg");
}

section#photos > div:nth-child(12) {
    background-image: url("../image/SSAOfs.jpg");
}

/* ============================================================= */

/* ------------------------Skills----------------------------- */

main > section#skills { /* skills */
    height: 110%;
    width: 100%;
    margin-top: 2007px;
    position: absolute;
    background-color:#151515 ;
    /* border: 2px solid black; */
}

main > section#skills > div#lang1 > img:hover {
    transform: scale(1.5);

}

main > section#skills > div#tool1 > img:hover {
    transform: scale(1.5);
}

@media (min-width: 1024px) and (max-width: 1440px) {
    section#skills > div > img {
        top: 31px;
        left: 7px;
    }
}

/* navigation tag line */
main > section > h2#skillsHead {
    position: absolute;
    margin-top: 75px;
    /*background: #ac290a;*/
    height: 30px;
    width: 100%;
    background: linear-gradient(to right, #0D54BB, rgba(255, 255, 255, 0));

}

main > section > h5#lang {
    position: absolute;
    top: 150px;
    margin: 0;
    left: 5px;
    right: 0;
    text-align: center;
    animation: forwards;
    color: black;
    font-size: 25px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #85C1E9, rgba(255, 255, 255, 0));
    height: 60px;
}


main > section > div#lang1 {
    position: relative;
    top: 287px;
    left: 60px;
    width: 85vw;
    display: grid;
    grid-auto-flow: column;
    align-content: space-around;
    justify-content: space-between;

}


main > section > h5#tool {
    position: absolute;
    top: 440px;
    margin: 0;
    left: 5px;
    right: 0;
    text-align: center;
    color: black;
    font-size: 25px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #85C1E9, rgba(255, 255, 255, 0));
    height: 60px;
}


main > section > div#tool1 {
    position: relative;
    top: 487px;
    display: grid;
    left: 60px;
    width: 85vw;
    grid-auto-flow: column;
    align-content: center;
    justify-content: space-between;

}


/* ----------------------------Assignments------------------------------- */

/* assignments */
main > section#assignments {
    height: 100%;
    width: 100%;
    top: 2710px;
    position: absolute;
    background-color:#151515 ;

    /* border: 2px solid black; */
}


/* navigation tag line */
main > section > h2#assignmentsHead {
    position: absolute;
    background: linear-gradient(to right, #0D54BB, rgba(255, 255, 255, 0));
    height: 30px;
    width: 100%;
    margin-top: 75px;
}


main > section#assignments > section > div#div1 {

    background-image: url("../image/CaseOne1.gif");
}

main > section#assignments > section > div#div2 {

    background-image: url("../image/CaseTwo2.gif");
}

main > section#assignments > section > div#div3 {

    background-image: url("../image/CaseThree.gif");
}

/*main > section#assignments > section > div#div4 {*/

/*    !*background-image: url("../image/Assignment\ 3.png");*!*/
/*}*/

main > section#assignments > section {
    position: relative;
    /* border: 2px solid black; */
    display: grid;
    align-items: center;
    margin: 10px;
    top: 230px;
    left: 10px;
    right: 10px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}

main > section#assignments > section > div:hover {

    transform: scale(1.3);
    margin-left: 20px;
}

main > section#assignments > section > div {
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
}

/* Assignment Texts */
main > section#assignments > section > div> h4 {
    /*position: absolute;*/
    position: absolute;
    /* border: 2px solid black; */
    display: grid;
    align-items: center;
    margin: auto;
    top: 60px;
    left: 15px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    font-size: larger;

}

main > section#assignments >form > #btnAssignment {
    width: 80px;
    height: 40px;
    position: absolute;
    bottom: 82px;
    right: 50px;
    /*background-color: white;*/
    border-radius: 8px;
    border-color: aqua;
}


/* -----------------------------About---------------------------- */


main > section#about { /* about */
    height: 380%;
    width: 100%;
    margin-top: 3350px;
    position: absolute;
    /*border: 2px solid red;*/
    background-color:#151515 ;
}


/* navigation tag line */
main > section > h2#aboutHead {
    position: absolute;
  margin-top: 75px;
    background: linear-gradient(to right, #0D54BB, rgba(255, 255, 255, 0));
    height: 30px;
    width: 100%;
}


main > section#about > article#art1 {
    position: absolute;
    top: 180px;
    left: 40px;
    right: 10px;
    font-size: 15pt;
    color: #ffffff;
    align-items: center;

}

main > section#about > article > h5 {

    color: #ffffff;
}

/* UL deco none */
main > section#about > article > ul > li {
    list-style-type: none;
    font-style: italic;
    color: #ffffff;
    font-family: Iceland;
    font-size: 20px;
}

/* Education MAIN TEXT */
main > section#about > article > h5#edu0 {
    position: absolute;
    top: 310px;
    left: 45%;
    font-size: 20pt;
}

/* IJSE */
main > section#about > article > ul > img#edu1 {
    position: absolute;
    top: 400px;
    left: 185px;
}

/* IJSE text */
main > section#about > article > ul > li#ijseli1 {
    position: absolute;
    left: 250px;
    top: 409px;
    right: 180px;

}

/* COT */
main > section#about > article > ul > img#edu2 {
    position: absolute;
    top: 480px;
    left: 1085px;
}

/* COT Text */
main > section#about > article > ul > li#ijseli2 {
    position: absolute;
    left: 200px;
    top: 489px;
    right: 250px;

}

/* VCG */
main > section#about > article > ul > img#edu3 {
    position: absolute;
    top: 580px;
    left: 185px;
}

/* VCG text */
main > section#about > article > ul > li#ijseli3 {
    position: absolute;
    left: 250px;
    top: 589px;
    right: 90px;

}

/* PILANA */
main > section#about > article > ul > img#edu4 {
    position: absolute;
    top: 680px;
    left: 1085px;
}

/* PILANA Text */
main > section#about > article > ul > li#ijseli4 {
    position: absolute;
    left: 200px;
    top: 689px;
    right: 190px;
}


/* Certificates MAIN TEXT */
main > section#about > h5#cert0 {
    position: absolute;
    top: 810px;
    left: 45%;
    font-size: 20pt;
    color: white;
}


main > section#about > img#cimg1 {
    position: absolute;
    top: 890px;
    left: 28%;
    z-index: 18;
}


main > section#about > img#cimg2 {
    position: absolute;
    top: 948px;
    left: 12%;
    opacity: 25%;
}


main > section#about > img#cimg3 {
    position: absolute;
    top: 948px;
    left: 55%;
    opacity: 25%;
}


/* Experiance MAIN TEXT */
main > section#about > h5#ex0 {
    position: absolute;
    top: 1410px;
    left: 45%;
    font-size: 20pt;
    color: white;
}


/* SSA */
main > section#about > article > ul > img#eximg1 {
    position: absolute;
    top: 1520px;
    left: 200px;
}

/* SSA Text */
main > section#about > article > ul > li#exli1 {
    position: absolute;
    left: 345px;
    top: 1549px;
    font-size: 18pt;
    list-style-type: square;

}

/* Sanasa */
main > section#about > article > ul > img#eximg2 {
    position: absolute;
    top: 1660px;
    left: 300px;
}

/* Sanasa Text */
main > section#about > article > ul > li#exli2 {
    position: absolute;
    left: 440px;
    top: 1689px;
    font-size: 18pt;
    list-style-type: square;
}

/* Inforlink */
main > section#about > article > ul > img#eximg3 {
    position: absolute;
    top: 1800px;
    left: 400px;
}

/* Inforlink Text */
main > section#about > article > ul > li#exli3 {
    position: absolute;
    left: 540px;
    top: 1829px;
    font-size: 18pt;
    list-style-type: square;
}


/* Arpico */
main > section#about > article > ul > img#eximg4 {
    position: absolute;
    top: 1940px;
    left: 500px;
}

/* Arpico Text */
main > section#about > article > ul > li#exli4 {
    position: absolute;
    left: 640px;
    top: 1969px;
    font-size: 18pt;
    list-style-type: square;
}


/* Activities MAIN TEXT */
main > section#about > h5#act0 {
    position: absolute;
    top: 2110px;
    left: 45%;
    font-size: 20pt;
    color: white;

}

/* Movies */
main > section#about > div > img#actimg1 {
    position: absolute;
    top: 2140px;
    left: 244px;

}

/* Movies Text */
main > section#about > div > h6#acth1 {
    position: absolute;
    left: 230px;
    top: 2260px;
    font-size: 14pt;
    background: linear-gradient(to right, #eeeeee, #0D54BB);
    -webkit-background-clip: text;
    color: transparent;
}

/* Music */
main > section#about > div > img#actimg2 {
    position: absolute;
    top: 2154px;
    left: 481px;
}

/* Music Text */
main > section#about > div > h6#acth2 {
    position: absolute;
    left: 482px;
    top: 2260px;
    font-size: 14pt;
    background: linear-gradient(to right, #0D54BB, #ff253a);
    -webkit-background-clip: text;
    color: transparent;

}

/* Web */
main > section#about > div > img#actimg3 {
    position: absolute;
    top: 2154px;
    left: 696px;

}

/* Web Text */
main > section#about > div > h6#acth3 {
    position: absolute;
    left: 705px;
    top: 2260px;
    font-size: 14pt;
    background: linear-gradient(to right, #eeeeee, #0D54BB);
    -webkit-background-clip: text;
    color: transparent;
}

/* Travel */
main > section#about > div > img#actimg4 {
    position: absolute;
    top: 2154px;
    left: 916px;
}

/* Travel Text */
main > section#about > div > h6#acth4 {
    position: absolute;
    left: 931px;
    top: 2260px;
    font-size: 14pt;
    background: linear-gradient(to right, #eeeeee, orangered);
    -webkit-background-clip: text;
    color: transparent;
}


/* --------------------------Footer--------------------------- */

footer {
    height: 44%;
    width: 100%;
    /*color: white;*/
    position: absolute;
    margin-top: 5842px;
    margin-bottom: 0;
    background-color: white;
}


legend {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
}


#btnSubmit {
    position: relative;
    height: 30px;
    width: 254px;
    bottom: 1px;
    left: 150px;
    color: white;
    background-color: #566573;
    border-radius: 20px;
    border: none;
}

button#btnSubmit:hover {
    background-color: aquamarine;
    color: #1E1E1E;
}

button#btnSubmit:focus {

    background-color: darkmagenta;
    color: white;
}


input::placeholder {
    color: #000;
}


textarea::placeholder {
    color: #000;
}


footer > fieldset > h4 {
    top: 10px;
    font-size: 18pt;
    left: 6px;
}

footer > fieldset > section > address > ul > li > img {
    top: 30px;
    flex-grow: inherit;
    gap: 7px;
}


fieldset {
    padding: 0.35em 0.75em 8.625em;
}


#buttonset {
    position: absolute;
    display: flex;
    bottom: 25px;
    gap: 34px;
    transform: scale(1.6);
    left: 140px;

}

#text textarea {
    display: flex;
    width: 100%;
    padding: 2px;
    border-color: #85C1E9;
    background-color: gainsboro;
    border-radius: 10px;
    margin-bottom: 6px;
    color: black;
}

#text input {
    display: flex;
    width: 100%;
    padding: 6px;
    border-radius: 10px;
    margin-bottom: 2px;
    background-color: gainsboro;
    border-color: #85C1E9;
    color: black;
}


#msgSubmit_Section {
    position: absolute;
    right: 20px;
    width: 40%;
    top: 20px;
}

#b1:hover {
    transform: scale(1.9);
    transition: 0.7s ease;
}

#b2:hover {
    transform: scale(1.9);
    transition: 0.7s ease;
}

#b3:hover {
    transform: scale(1.9);
    transition: 0.7s ease;
}

#b4:hover {
    transform: scale(1.9);
    transition: 0.7s ease;
}

#b5:hover {
    transform: scale(1.9);
    transition: 0.7s ease;
}

#b6:hover {
    transform: scale(1.9);
    transition: 0.7s ease;
}

#b7:hover {
    transform: scale(1.9);
    transition: 0.7s ease;
}

#ftr1 {
    position: relative;
    top: 25px;
}


#ftr2 {
    position: relative;
    top: 36px;
}

#ftr3 {
    position: relative;
    top: 48px;
}

